<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277793484297-ado3dmvdca2dsbd8ei4mdj7t59qmsrgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277793484297-ado3dmvdca2dsbd8ei4mdj7t59qmsrgc</string>
	<key>API_KEY</key>
	<string>AIzaSyD3vxfm6U9gvXF4tan6ULdGnLwdV9ueZEA</string>
	<key>GCM_SENDER_ID</key>
	<string>277793484297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Practice.TikTok123</string>
	<key>PROJECT_ID</key>
	<string>tiktok-b14b1</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-b14b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277793484297:ios:09456aba230b085e8412d8</string>
	<key>DATABASE_URL</key>
	<string>https://tiktok-b14b1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>